@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

/* ---------------------------
        Universal Codded
---------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* ---------------------------
        Default Codded
---------------------------- */

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.dark_black {
    color: #828282;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}

#container{
    margin: 0 1.7em;
}
/* ---------------------------
        Top Section Area
---------------------------- */

.top_section {
    margin: 5em auto;
}

.grid_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.grid_box h1 {
    font-size: 3.75em;
    line-height: 1.5em;
}

.grid_box p {
    margin: 1.5em auto;
    font-size: 1.25em;
    line-height: 1.5em;
}

.common_color {
    background: linear-gradient(to right, #FB954B, #FD4D2F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid_box a {
    background: linear-gradient(to right, #FB954B, #FD4D2F);
    padding: 1em 2em;
    border-radius: 100px;
    color: #fff;
    font-size: 1.125em;
}

.top_section .grid_box img {
    float: right;
}

/* ---------------------------
        Top Section End
---------------------------- */

/* ---------------------------
        About Section Start
---------------------------- */

.about_area{
    background: url(../images/shapes/7.png) no-repeat;
    background-size: cover;
    margin: 5em auto;
}

.about_area .grid_box img{
    display: block;
    max-width: 300px;
    margin: 3em auto 0;
}

.about_text h1{
    font-size: 2.5em;
}
.about_text p{
    font-family: 'Manrope',sans-serif;
    margin: 3em auto;
    font-size: 1.125em;
}
.recipies_area{
    text-align: center;
    display: flex;
    justify-content: center;
}
.child_recipies{
    width: 52%;
}
.recipies_area h1{
    font-size: 2.25em;
}
.recipies_area p{
    color: #252525;
    margin-top: 1em;
    font-size: 1.125em;
}