@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

/* ---------------------------
    Universal Code Start
---------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* ---------------------------
    Universal Code End
---------------------------- */

/* ---------------------------
    Default Codded Start
---------------------------- */

.float_right {
    float: right;
}

.float_left {
    float: left;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}

.common_color {
    background: linear-gradient(to right, #FB954B, #FD4D2F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark_black {
    color: #828282;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* ---------------------------
    Default Codded End
---------------------------- */

/* ---------------------------
    Hover Effect Code Start
---------------------------- */

.grid_box a:hover {
    background: linear-gradient(to left, #FB954B, #FD4D2F);
    transition: .3s ease-in-out;
}

/* ---------------------------
    Hover Effect Code End
---------------------------- */

/* ---------------------------
        Top Section Start
---------------------------- */

.top_section {
    margin: 5em auto;
}

.grid_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.grid_box h2 {
    font-size: 3.75em;
    line-height: 1.5em;
}

.grid_box p {
    margin: 1.5em auto;
    font-size: 1.25em;
    line-height: 1.5em;
}

.grid_box a {
    background: linear-gradient(to right, #FB954B, #FD4D2F);
    padding: 1em 2em;
    border-radius: 100px;
    color: #fff;
    font-size: 1.125em;
    position: relative;
}
.grid_box a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px);
    border-radius: 100px;
    background: linear-gradient(to right, #FB954B, #FD4D2F);
}

.top_section .grid_box img {
    float: right;
}

/* ---------------------------
        Top Section End
---------------------------- */

/* ---------------------------
    About Section Start
---------------------------- */

.about_area {
    background: url(../images/shapes/7.png) no-repeat;
    background-size: cover;
    margin: 5em auto;
}

.about_area .grid_box img {
    display: block;
    max-width: 300px;
    margin: 3em auto 0;
}

.about_text h1 {
    font-size: 2.5em;
}

.about_text p {
    font-family: 'Manrope', sans-serif;
    margin: 3em auto;
    font-size: 1.125em;
}

/* ---------------------------
    About Section End
---------------------------- */

/* ---------------------------
    Recipies Section Start
---------------------------- */
.child_recipies {
    text-align: center;
    margin: 0 auto;
    width: 52%;
}

.recipies_area h1 {
    font-size: 2.25em;
}

.child_recipies h2+p {
    color: #252525;
    margin: 1em auto 3em;
    font-size: 1.125em;
}

.recipies_list_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25em;
}

.recipies_list {
    padding: 1.25em;
    box-shadow: 0px 4px 40px 0px #00000040;
    border-radius: 20px;
    text-align: center;
}

.recipies_list h2 {
    font-size: 1.75em;
}

.recipies_list p {
    margin: 1.2em auto;
    font-size: 1.125em;
    line-height: 1.5em;
}

.recipies_list img {
    margin: 1em auto;
}

/* ---------------------------
    Recipies Section End
---------------------------- */

/* ---------------------------
    Rating Section Start
---------------------------- */
.rating_box {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 40px #00000040;
    margin: 5em auto;
    border-radius: 15px;
}

.rating_content {
    text-align: center;
    padding: 3em 0;
}

.rating_content h2 {
    font-size: 3em;
}

/* ---------------------------
    Rating Section End
---------------------------- */

/* ---------------------------
    Footer Area Start
---------------------------- */
.footer_area {
    color: #fff;
    background: #000;
    padding: 2.5em;
    text-align: center;
}

.footer_area h1 {
    font-family: 'Manrope', sans-serif;
    color: #5b5b5b;
    font-size: 1.875em;
}

.footer_area p {
    margin: 2em auto;
}

/* ---------------------------
    Footer Area Start
---------------------------- */